/* About plus underpages CSS */

a {
	text-decoration: none;
	color: #161828; /* Black Russian */	
}

a:hover {
	text-decoration: none;
	color: #6ac86f; /* slightly desaturated lime green */;
}

#welogo {
	float: left;
	max-width: 100%;
  	height: auto;
	padding-bottom: 0.5rem;
}

#about-we-yhpf {
	clear: both;
}

/* ============================ */
/* ABOUT WE */

.un2030 a {
	text-decoration: none;
	color: #161828; /* Black Russian */	
}

.un2030 a:hover {
	text-decoration: none;
	color: #6ac86f; /* slightly desaturated lime green */;
}

.quote {
	font-style: italic;
}

/* ============================ */
/* ABOUT YHPF */

.about_yhpf a {
	text-decoration: none;
	color: #161828; /* Black Russian */	
}

.about_yhpf a:hover {
	text-decoration: none;
	color: #6ac86f; /* slightly desaturated lime green */;
}

.border-yhpf {
	border: #161828 solid 0.1rem; /* Black Russian */
	padding: 0.5rem;
	min-height: 15rem;
}

img {
	float: left;
	margin-right:1rem;
}

.button, .buttons {
	background-color: #6ac86f; /* slightly desaturated lime green */
  	border: none;
  	color: white;
  	padding: 0.5rem 1rem;
  	text-align: center;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 400;	/* regular */
	border-radius: 1.5rem;
	display: inline-block;
	margin: auto;
	margin-top: 1.2rem;
	margin-bottom: 0.5rem;
	transition: 0s background-color;
}

.button a, .buttons a {
	text-decoration: none;
	color: #ffffff !important;/* white */
}


.button:hover, .buttons:hover {
	background-color: #6ac86f; /* slightly desaturated lime green */
	color:#ffffff;
	opacity: 0.9;
	transition-delay: 1s; /* delays the hover opacity effect */
}

.about_yhpf p {
	margin-bottom: 0rem;
}

/* ============================ */
/* ABOUT FAQ */

/* Accordion used to open and close content */
.accordion {
  background-color: #e3e3f4; /* light greyish blue */
  color: #161828; /* Black Russian */	
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;  
  font-weight: 600;
  text-align: left;
  text-decoration: none;

  width: 100%;
  border: none;
  cursor: default;
  outline: none;
  transition: 0.4s;

  padding: 1.2rem;
}

/* bg color and hover over button */
.active, .accordion:hover {
  background-color: #75788d; /* dark greyish blue */
  color: #ffffff; /* white */
}

/* Open and close icons */
.accordion:after {
  content: '\02795'; /* open (+) */
  color: #161828; /* Black Russian */
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* close (-) */
}

/* Content in collapsible */
.panel {
  background-color: #ffffff; /* white */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0rem 1.3rem;

}

