/* CSS for Data viz pages */

.source {
	font-size: 0.5rem;
}

a {
	color: #161828; /* Black Russian */	
}

a:hover {
	color: #6ac86f; /* slightly desaturated lime green */
	text-decoration: none;
}


/* ============================ */
/* Dataviz-home */

.article-group {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

article {
	background-color: #e3e3f4; /* light greyish blue */
	width: 40%;
	padding: 1rem;
	margin-bottom: 1rem;
}

h4 {
	margin-top: 0rem;
	margin-bottom: 0rem;
	margin-left: 4.5rem;
}

div.icon-text {
	display: flex;
	align-items: center;
}

#child .fas {
	margin: 1rem;
}

#child .articletext {
	margin-left: 1rem;
} 

#graduation .fas {
	margin: 0.7rem;
}

#graduation .articletext {
	margin-left: 0.7rem;
} 

#briefcase .fas {
	margin: 0.8rem;
}

#briefcase .articletext {
	margin-left: 0.9rem;
} 

#book .fas {
	margin: 0.9rem;
}

#book .articletext {
	margin-left: 0.9rem;
} 

article a {
	margin-left: 4.5rem;
}

/* ============================ */
/* Dataviz1 - High School */
div.applicants, div.admitted {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.piechart {
	width: 40%;
}

h4.chart-title {
	text-align: center;
	margin-left: 0rem;
}

/* ============================ */
/* RESPONSIVE */

/* Data viz - home */
@media screen and (max-width: 865px) {
	.article-group {
		display: block;
	}

	article {
		width: 92%;
	}
}
