/* CSS for Data viz pages */

a {
	color: #161828; /* Black Russian */	
}

a:hover {
	color: #6ac86f; /* slightly desaturated lime green */
	text-decoration: none;
}


/* ============================ */
/* Dataviz-home */

.article-group {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

article {
	background-color: #e3e3f4; /* light greyish blue */
	width: 40%;
	padding: 1rem;
	margin-bottom: 1rem;
}

h4 {
	margin-top: 0rem;
	margin-bottom: 0rem;
	margin-left: 4.5rem;
}

div.icon-text {
	display: flex;
	align-items: center;
}

#child .fas {
	margin: 1rem;
}

#child .articletext {
	margin-left: 1rem;
} 

#graduation .fas {
	margin: 0.7rem;
}

#graduation .articletext {
	margin-left: 0.7rem;
} 

#briefcase .fas {
	margin: 0.8rem;
}

#briefcase .articletext {
	margin-left: 0.9rem;
} 

#book .fas {
	margin: 0.9rem;
}

#book .articletext {
	margin-left: 0.9rem;
} 

article a {
	margin-left: 4.5rem;
}

/* ============================ */
/* Dataviz1 - High School */
div.applicants, div.admitted {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.piechart {
	width: 40%;
}

h4.chart-title-c {
	text-align: center;
	margin-left: 0rem;
}

.source-c {
	font-size: 0.5rem;
	text-align: center;
}

/* ============================ */
/* Dataviz2 - College and University */


div.barchart, div.linechart  {
	width: 70%;
}

h4.chart-title-l {
	text-align: left;
	margin-left: 0rem;
}

.source-l {
	font-size: 0.5rem;
	text-align: left;
}

/* ============================ */
/* Data viz4 - Labor market */

div.now-future {
	display: flex;
}

div.skills-now {
	margin-top: 3.5rem;
}

div.skills-now  h4, div.skills-now p, div.skills-now ul {
	margin-left: 0rem;
	margin-right: 2rem;
}

.button {
	background-color: #6ac86f; /* slightly desaturated lime green */
  	border: none;
  	color: white;
  	padding: 0.5rem 1rem;
  	text-align: center;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 400;	/* regular */
	border-radius: 1.5rem;
	display: inline-block;
	margin: auto;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	transition: 0s background-color;
}

.button a {
	text-decoration: none;
	color: #ffffff; /* white */
}

.button:hover {
	background-color: #6ac86f; /* slightly desaturated lime green */
	opacity: 0.9;
	transition-delay: 1s; /* delays the hover opacity effect */
	-webkit-transition-delay: 1s; /* chrome and safari */
	-moz-transition-delay: 1s; /* firefox */
	-o-transition-delay: 1s; /* opera */
}

/* ============================ */
/* RESPONSIVE */

@media screen and (max-width: 865px) {
	/* Data viz - home */
	.article-group {
		display: block;
	}

	article {
		width: 92%;
	}

	/* Data viz1 */
	div.applicants, div.admitted {
		display: block;
	}

	div.piechart {
	width: 100%;
	}

	/* Data viz2 */
	div.barchart, div.linechart  {
	width: 100%;
	}

	/* Data viz4 */
	div.now-future {
	display: block;
	}

	div.skills-now  h4, div.skills-now p, div.skills-now ul {
		margin-left: 0rem;
		margin-right: 0rem;
	}

	div.now-future img {
		width: 100%;
	}

