/* CSS for index.html */

/* WE Graphic Profile 
=================================
Primary colors 
#ffffff (white)
#161828 (Black Russian/very dark (mostly black) blue) closes websafe color #000033
#6ac86f (slightly desaturated lime green) closes websafe color #66cc66

Sedondary colors
#e3e3f4 (Lavender/light greyish blue) closes websafe color #ccccff
#75788d (Storm Grey/dark greyish blue) closes websafe color #666699
#474a5e (very dark grayish blue) closes websafe color #333366
#000000 (black)

Supporting colors
#07a40f (dark lime green) closes websafe color #009900
#ff5c5c (Bittersweer/light red) closes websafe color #ff6666

www.colorhexa.com
It's only in very rare cases we have to use the web safe colors.

FONTS
Headlines: Montserrat Bold (700)
Body text: Montserat Regular (400)
Buttons etc: Montserat SemiBold; (600) (this is not used for button and links in reality)
=================================
*/

html {
	height: 100%;
	margin: 0rem;
	padding: 0rem;

	scroll-behavior: smooth
}

body {
	background-color: #161828; /* Black Russian */	
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	margin: 0rem;
}

.wrapper {
	min-height: 100%;   
	margin-bottom: -7rem; /* Equal to height of footer */
}

/* ============================ */
/* HEADER */
header {
	margin: 0rem;
	background-color: #ffffff; /* white */

	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */

	z-index: 1; /* make sure the image do not scroll over header */

	position: sticky;
	padding-bottom: 0.7rem;
}

#logo_header {
	float: left;

	padding-left: 2rem;
	padding-top: 1rem;
	padding-right: 1rem;
}

#logo_header_link a:link,
#logo_header_link a:visited,
#logo_header_link a:hover {
	color: #161828; /* Black Russian */	
	text-decoration: none;
}

#logo_header_link a:active {
	color: #6ac86f; /* slightly desaturated lime green */
	text-decoration: none;
}

#we_logo {
	height: 3rem;
	width: 3rem;
	vertical-align: middle;
}

h1 {
	display: inline;
	color: #161828; /* Black Russian */	
	font-weight: bold;
	vertical-align: middle;
	margin-left: 0.5rem;
}

/* TOP NAVIGATION */

.topnav {
	background-color: #ffffff; /* white */
	overflow: hidden;
	padding-top: 2rem;
}

/* style links in nav bar */
.topnav .dropbtn {
	float: left;
	display: block;
	color: #161828; /* Black Russian */	
	text-align: center;
	padding: 0.5rem;
	text-decoration: none;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 400;	/* regular */
}

/* styling current page (dont forget to add active class on current page in HTML) */
.active {
	color: #6ac86f; /* slightly desaturated lime green */
	text-decoration: underline;
	margin: 0rem;
}

/* hide link that open and close topnav on small screens */
.topnav .icon {
	display: none;
}

.fa-caret-down {
	padding-top: 0.5rem;
}

/* dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
}

/* styledropdown button */
.dropdown .dropbtn {
	font-size: 0.8rem;
	border: none;
	outline: none;
	color: inherit;
	background-color: inherit;
	font-family: inherit;
	margin: 0rem;
}

/* style the dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(255,255,255,0.9); /* white with opacity */
	min-width: 10rem;
}

/* style links in dropdown */
.dropdown-content a {
	float: none;
	color: #161828; /* Black Russian */	
	padding: 0.6rem 1rem; /* top/bottom left/right */
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 0.8rem;
}
/* style when hovering over in top nav and dropdown botton */
.topnav a:hover, .dropdown:hover .dropbtn {
	color: #6ac86f; /* slightly desaturated lime green */
}

/* style when hover over links in dropdown */
.dropdown-content a:hover {
	background-color: rgb(255,255,255,1); /* white with opacity */
	color: #6ac86f; /* slightly desaturated lime green */
}

/* show dropdown when mouse is over dropdown button */
.dropdown:hover .dropdown-content {
	display: block;
}

/* style you are here */
#iamhere {
	color: #ff5c5c; /* light red*/	
	text-decoration: none;
	font-weight: 600;	/* regular */
}

/* ============================ */
/* MAIN */

main section {
	background-color: #ffffff; /* white */
	color: #161828; /* Black Russian */	
	border-radius: 0.5rem 0.5rem 0rem 0rem; /* top-left, top-right, bottom-right, bottom-left */

	margin: auto; /* for centering on page */

	margin-top: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
	padding: 2rem;
}

main section h2 {
	margin: 0rem;
} 

main section p {
	display: block;
}

main section div.start-img-container {
	position: relative;
	text-align: center;
}

img#start-img {
	width: 100%;
	z-index: -1; /* make sure the image do not scroll over header */
}

.centered-text {
	position: absolute;
	top: 50%;
	left: 7%;
	transform: translate(-50%, -50%);
}

h2.welcome-text {
	color: #ffffff; /* white */

	transform: rotate(270deg);

	padding: 1rem;
}

.newsbox2 {
	background-color: #ff5c5c; /* light red*/	
	border-radius: 0em;
	color: #ffffff; /* white */
	font-weight: 600; /* semi-bold */
	text-align: center;
	margin: 0rem 0rem 1rem 0rem; /* top right bottom left */
}

.newsbox2 h3 {
	margin: 0rem;
}


div.main-content {
	
}

div.main-content p {
	margin-right: 1rem;
	margin-left: 1rem;
}

div.main-content a {
	color: #161828; /* Black Russian */	
	text-decoration: none;
	font-weight: 600; /* semi-bold */
}

div.main-content a:hover {
	color: #6ac86f; /* slightly desaturated lime green */
	text-decoration: none;
	font-weight: 600; /* semi-bold */
}

div.start-contact {
	background-color: #ffffff; /* white */
	font-size: 2rem;
	font-weight: 600; /* semi-bold */
	position: absolute;
	top: 50%;
	left: 30.5%;
	transform: translate(-50%, -50%);

	padding: 3rem;
}

main section img.infographics {
	width: 35%;
	max-width: 24rem;
	float: right;

	margin-left: 1rem;
}

main section div.contact-img-container {
	position: relative;
	text-align: center;
}

img#contact-img {
	width: 61%;
}

/* ============================ */
/* FOOTER */

/* Helps with the sticky footer*/
.push {
	height: 7rem; 
	background-color: #ffffff; /* white */

	margin-right: 1rem;
	margin-left: 1rem;
}

.footer {
	background-color: #161828; /* Black Russian */	
	height: 7rem;
	text-align: center;
	color: #ffffff; /* white */

	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

/* nav in footer */
.secondary ul {
	list-style: none; /* No bullet points */
	padding-top: 0.5rem;
	padding: 0rem;
}

.secondary ul li {
	display: inline; /* Horizontal list */
}

.secondary a {
	color: #ffffff; /* white */
	text-align: center;
	padding: 0.5rem;
	text-decoration: none;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 400;	/* regular */
}

/* style when hovering over footer nav */
.secondary a:hover {
	color: #6ac86f; /* slightly desaturated lime green */
}

/* styling social media links */
.social a {
	padding: 0.5rem;
}

.social a:link{
	color: #ffffff; /* white */
	text-decoration: none;
}

.social a:visited{
	color: #ffffff; /* white */
	text-decoration: none;
}

.social a:hover{
	color: #6ac86f; /* slightly desaturated lime green */
	text-decoration: none;
}

footer p {
	font-size: 0.8rem;
}

/* ============================ */
/* RESPONSIVENESS */

/* screen <600 px wide, hide all links and show hamburger menu */
@media screen and (max-width: 865px) {
	i.fa-caret-down, .dropdown .dropbtn {
		display: none;
	}

	#logo_header {
		float: none;
	}

	.topnav {
		padding-top: 0rem;
	}

	.topnav a.icon {
		float: none;
		display: block;
		color: #161828; /* Black Russian */	
		text-align: center;
	}

	.topnav a.icon:hover {
		color: #6ac86f; /* slightly desaturated lime green */
	}
}

/* responsive topnav with JS */
@media screen and (max-width: 865px) {
	.topnav.responsive {
		position: relative;
		overflow: hidden;

		padding-top: 5rem;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
		
	.topnav.responsive a.icon {
		position: absolute;
		display: block;
		right: 0rem; /* needed so the hamburger menu wont disapear on click */
		top: 0rem; /* needed so the hamburger menu wont disapear on click */

		margin-right: 47%;
	}

	.topnav.responsive .dropdown {
		float: none;
	}

	.topnav.responsive .dropdown-content {
		position: relative;
	}

	.topnav.responsive .dropdown-content a {
		text-align: center;
	}

	.topnav.responsive .dropdown-content a:hover {
		background-color: #e3e3f4; /* light greyish blue */
	}

	.topnav.responsive i.fa-caret-down {
		display: block;
		text-align: center;
	}

	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: center;
	}
}

/* responsive vertical text on image */
@media screen and (max-width: 865px) {
	.centered-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	h2.welcome-text {
		color: #ffffff; /* white */
		background-color: rgba(227, 227, 244, 0.5); /* #e3e3f4 light greyish blue, with opacity */
		border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; /* top-left, top-right, bottom-right, bottom-left */

		transform: rotate(0deg);

		padding: 1rem;
	}
}

/* responsive class main-content */
@media screen and (max-width: 865px) {
	div.main-content {
		display: block;
	}

	div.main-content p {
		width: 100%;

		margin-left: 0rem;
		margin-right: 3rem;
	}

	main section img.infographics {
		width: 100%;
		float: none;

		margin-bottom: 1rem;
		margin-left: 0rem;
		margin-right: 0rem; 
	}

	div.start-contact {
		width: 100%;

		position: relative;
		padding: 1rem;
		margin-left: 20%;
	}

	img#contact-img {
		width: 100%;
	}
}
